body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #cfe4f7;
}

/* global*/
.container{
    width: 80%;
    margin: auto;
    overflow: none;
}

/* nav bar */
header {
    background-color: rgba(11, 3, 15, 0.973);
    color: rgb(36, 134, 23);
    padding: 20px;
    min-height: 70px;
    position: relative;
    margin: 0;
}
#nav {
    float: left;

}
#nav h1 {
    margin: 0;
}
#highlight{
    color: rgb(148, 63, 56);
    font-family: "Times New Roman", Times, serif;
}
#menu {
    float: right;
    padding-top: 15px;
}
#menu ul{
    padding 0;
    margin:0;

}
#menu li{
    padding: 0 2px 20px 0;
    display: inline;

}
#menu a{
    text-decoration: none;
    color: white;
}
#menu a:hover{
    color: #00FF00;
}
/* search bar */
.search{
    width: 400px;
    margin-left: 10%;
    margin-top: 20px;
    float: left;
}


header input{
    width: 90%;
    display: block; 
    border: 1px solid #e8491d;
    padding: 8px;
    border-radius: 5px;
}

/* intro text */
#cover{
    min-height: 300px;
    background-image: url(../image/special-6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #f1dc93; */
}
#cover .intro{
    text-align: center;
    color:#0c2409;
    padding-top: 20px;
}
h2{
    color:  #e8491d;
    text-align: center;
    font-size: 28px;
}

/* foods details and orders */
#foods{
    margin-top: 20px;
}
#foods .food{
    float: left;
    text-align: ;
    width: 30%;
    padding: 10px;

}
#foods .food img {
    width: 80%;
}
#foods .cost{
    float: left;
}
#foods .add{
    float: right;
}
.food button{
    background-color: rgb(20, 206, 20);
    border: none;
    color: white;
    padding: 10px 28px;
    margin-right: 30px;
    text-align: center;
    font-size: 16px;
    opacity: 1;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

#foods .food h3{
    margin: 0;
}

/* edit, delete food list by admin */

/* inner food */
section .inner{
    float: left;
    width: 100%;
}
/* food.. table */
.inner table{
    border-collapse: collapse;
    width: 100%;
}
.inner table th,td{
    padding: 10px;
    text-align: left;
}
.inner table th {
    background-color: black;
    color: white;
    font-size: 18px;
}
.inner table tr:nth-child(even) {
    background-color: #b9aeae;
}
/* buttons */
table .btn_edit{
    color: white;
    background: hsl(123, 51%, 47%);
    height: 30px;
    width: auto;
	cursor: pointer;
	position: relative;
	font-family: sans-serif;
    border: none;
    outline:none;
	font-size: 18px;
    border-radius: 5px;
}
table .btn_delete{
    color: white;
    background: red;
    height: 30px;
    width: auto;
	cursor: pointer;
	position: relative;
	font-family: sans-serif;
    border: none;
    outline:none;
	font-size: 18px;
    border-radius: 5px;
}
table .btn_add{
    color: white;
    background: hsl(123, 51%, 47%);
    height: 30px;
    width: auto;
	cursor: pointer;
	position: relative;
	font-family: sans-serif;
    border: none;
    outline:none;
	font-size: 18px;
    border-radius: 5px;
}
/* food list label */
.inner h1{
    color:  #e8491d;
    text-align: center;
}

/* footer */
footer{
    position: relative;
    width: 100%;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 10px 10px 10px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    color: #fff;
    background-color: #0e0d0c;
    text-align: center;
}

/* pop up for order button */
.button1{
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;

}
.button1:hover{
    background-color: #06D85F;
}
.popcover{
    position: fixed;
    top: 50px;
    bottom: 0;
    left:0;
    right: 0;
    transform: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.popcover:target{
    visibility: visible;
    opacity: 1;
}
.popup{
    margin: 70px auto;
    padding: 20px;
    background-color:#fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup h2{
    margin-top: 0;
    color: #333333;
}
.popup .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover{
    color: #06D85F
}
.popup .content{
    max-height: 30%;
    overflow: auto;
    text-align: center;
}

.content input {
    width: 80%;
    padding: 5px;
    border-color: black;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid  #229de8;
    font-size: 18px;
    border-radius: 10px;
    box-sizing: border-box;
}
input[type=text]:focus {
    border: 3px solid #555;
}
#submit{
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;

}
#submit:hover{
    background-color: #06D85F;
}
#success{
    color: #fff;
    text-align: center;
    background-color: #1c8c11;
    border-radius: 5px;
}
#danger{
    background-color: #333;
    -moz-animation: cssAnimation 0s ease-in 10s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 10s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 10s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:visible;
    }
}


/* media query */
@media (min-width:640px) {body {font-size: 1rem;}}
@media (min-width:960px) {body {font-size: 1.2rem;}}
@media (min-width:1100px) {body {font-size: 1.5rem;}}
@media (max-width:1183px){
    body{
        background-color: rgb(192, 67, 84);
    }
    header {
        padding: 20px;
        min-height: auto;
        text-align: center;
    }
    #nav{
        float: none;
    }
    .search{
        width: 50%;
        margin-left: 25%;
        padding-left:0%;
        float: none;
    }
    
    #menu {
        text-align: center;
        padding-top: 0px;
        float: none;
    }
}
@media only screen and (max-width: 1038px) {
    body {
        background-color: rgb(192, 67, 84);
    }
    header {
        padding: 30px;
        min-height: auto;
        text-align: center;
    }
    header #nav {
        text-align: center;
        float: none;
    }
    #foods .food {
        width: 100%;
        float: none;
    }
    #foods .food button{
        float: left;
        font-size: 12px;
        padding: 7px 20px;
    }
    #foods .food img {
        width: 100%;
    }
}  
@media only screen and (max-width: 1150px) {
    body {
        background-color: rgb(192, 173, 67);
    }
    header {
        padding: 20px;
        min-height: auto;
    } 
    h1{
        margin: 0;
    }
    header #nav {
        text-align: center;
        float: none;
    }
/* #media for nav bar */ 

/* #media for pop up model */

@media screen and (max-width: 700px){
    .add{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
    
  }