body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #cfe4f7;
}

/* global*/
.container{
    width: 80%;
    margin: auto;
    overflow: none;
}

/* nav bar */
header {
    background-color: rgba(11, 3, 15, 0.973);
    color: rgb(36, 134, 23);
    padding: 20px;
    min-height: 70px;
    margin: 0;
}
#nav {
    float: left;

}
#nav h1 {
    margin: 0;
}
#highlight{
    color: rgb(148, 63, 56);
    font-family: "Times New Roman", Times, serif;
}
#menu {
    float: right;
    padding-top: 15px;
}
#menu ul{
    padding 0;
    margin:0;

}
#menu li{
    padding: 0 2px 20px 0;
    display: inline;

}
#menu a{
    text-decoration: none;
    color: white;
}
#menu a:hover{
    color: rgba(209, 230, 22, 0.973)
}
/* search bar */
header .search{
    top: 30%;
    width: 400px;
    padding-left:60px;
    margin-top: 5px;
    float: left;
}

header input{
    width: 90%;
    display: block; 
    border: 1px solid #e8491d;
    padding: 8px;
    border-radius: 5px;
}
/* accept or decline food order by admin */

/* inner article */
section .inner{
    float: left;
    width: 100%;
    overflow-x:auto
}
/* food.. table */
.inner table{
    border-collapse: collapse;
    width: 100%;
}
.inner table th,td{
    padding: 10px;
    text-align: left;
}
.inner table th {
    background-color: black;
    color: white;
    font-size: 18px;
}
.inner table tr:nth-child(odd) {
    background-color: #f2f7f7;
}
/* buttons */
table .btn_edit{
    color: white;
    background: hsl(123, 69%, 41%);
    height: 30px;
    width: auto;
	cursor: pointer;
	position: relative;
	font-family: sans-serif;
    border: none;
    outline:none;
	font-size: 18px;
    border-radius: 5px;
}
table .btn_cpt{
    color: white;
    background: hsl(127, 5%, 65%);
    height: 30px;
    width: auto;
	cursor: pointer;
	position: relative;
	font-family: sans-serif;
    border: none;
    outline:none;
	font-size: 18px;
    border-radius: 5px;
}
table .btn_delete{
    color: white;
    background: red;
    height: 30px;
    width: auto;
	cursor: pointer;
	position: relative;
	font-family: sans-serif;
    border: none;
    outline:none;
	font-size: 18px;
    border-radius: 5px;
}

/* food list */
.inner ul{
    padding: 0;
    margin: 0;
}

.inner h3{
    display:inline;
    font-size: 29px;
    color: #e8491d;
}
.inner h1{
    text-align: center;
    color: #1e2a61;
}
span h4{
    text-align: center;
    color: #1e2a61;
}
button#btn_order{
    float: right;
    background-color: hsl(123, 69%, 41%);
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    font-size: 18px;
    margin: 4px 2px;
    opacity: 0.8;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
button#btn_order:hover {opacity: 1}

input#checkbox {
    width: 70px;
  height: 30px;
}
/* media query */
@media (min-width:640px) {body {font-size: 1rem;}}
@media (min-width:960px) {body {font-size: 1.2rem;}}
@media (min-width:1100px) {body {font-size: 1.5rem;}}

@media only screen and (max-width: 900px) {
    body {
        background-color: rgb(192, 173, 67);
    }
    header {
        padding: 20px;
        min-height: 100px;
        text-align: center;
    }
    header #nav {
        text-align: center;
        float: none;
    }
    section .inner{
        float: none;
        width: 100%;
        overflow-x:auto
    }
    .inner table th,td{
        text-align: center;
        
    }