body{
    font: 15px/1.0 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #cfe4f7;
}

/* global*/
.container{
    width: 80%;
    margin: auto;
    overflow: none;
}

/* nav bar */
header {
    background-color: rgba(11, 3, 15, 0.973);
    color: rgb(36, 134, 23);
    padding: 20px;
    min-height: 35px;
    position: relative;
    margin: 0;
}
#nav {
    float: left;

}
#nav h1 {
    margin: 0;
}
#highlight{
    color: rgb(148, 63, 56);
    font-family: "Times New Roman", Times, serif;
}
#menu {
    float: right;
    padding-top: 10px;
}
#menu ul{
    padding: 0;
    margin:0;

}
#menu li{
    padding: 0 2px 20px 0;
    display: inline;

}
#menu a{
    text-decoration: none;
    color: white;
}
#menu a:hover{
    color: #00FF00;
}
/* search bar */
.search{
    width: 400px;
    margin-left: 10%;
    padding-left:60px;
    margin-top: 3px;
    float: left;
    padding-top: 3px;
}


header input{
    width: 90%;
    display: block; 
    border: 1px solid #e8491d;
    padding: 6px;
    border-radius: 5px;
}
.inner h1{
    margin-left: 20%;
    color: crimson;

}
#add_form{
    width: 50%;
    margin-left: 20%;
}
#add_form input[type=text] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#add_form input[type=text]:focus {
    border: 3px solid #555;
}
textarea {
    width: 100%;
    height: 80px;
    padding: 8px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 18px;
    resize: none;
}
#add_form textarea:focus {
    border: 3px solid #555;
}

#submit{
    color: white;
    background: hsl(123, 69%, 41%);
    height: 30px;
    width: auto;
	cursor: pointer;
	position: relative;
	font-family: sans-serif;
    border: none;
    outline:none;
	font-size: 16px;
    border-radius: 5px;
}

/* admin nav bar */
#admin{
    margin-top: 20px;
    background-color: #555;
    padding: 15px;
    width: 70%;
    margin-left: 150px;
    min-height: auto;
}
#admin ul{
    padding: 0;
    margin: 10px;
    margin-left: 200px;

}
#admin li{
    display: inline;


}
#admin ul a{
    text-decoration: none;
    background-color:rgb(109, 119, 109);
    padding: 10px;
    color:blue;
    border-radius: 5px;
}
#admin ul a:hover {
    background-color: #555;
}
#success{
    color: #1c8c11;
    width: 50%;
    margin-left: 20%;
}
#danger{
    color:  red;
    width: 50%;
    margin-left: 20%;
}

/* media query */
@media (min-width:640px) {body {font-size: 1rem;}}
@media (min-width:960px) {body {font-size: 1.2rem;}}
@media (min-width:1100px) {body {font-size: 1.2rem;}}

@media only screen and (max-width: 900px) {
    body {
        background-color: rgb(192, 173, 67);
    }
    header {
        padding: 20px;
        min-height: 100px;
        text-align: center;
    }
    footer{
        margin-top: 10%;
        padding: 20px;
        min-height: 100px;
    }
    header #nav {
        text-align: center;
        float: none;
    }
    #admin{
        margin: 10%;
        width: 80%;
    }
    #admin ul{
        float: none;
        margin-left: 10%;
    }
    .add_form{
        width: 80%;
        margin-left: 10%;
    }
}